.emoji-item {
  width: 32%;
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (min-width: 992px) {
  .emoji-item {
    width: 24%;
  }
}

.emoji-btn {
  background-color: #ffffff33;
  cursor: pointer;
  outline: none;
  width: 100%;
  height: 100px;
  border: 3px solid #ffffff30;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .emoji-btn {
    height: 200px;
  }
}

.emoji-icon {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .emoji-icon {
    width: 100px;
  }
}
